{
    "lessons": [
        {% for lesson in lessons %}

        {
            "lesson_id" : {{ lesson.id }},
            "specialty" : "{{ lesson.registration.specialty.name }}",
            {% if lesson.registration.specialty.isGroup %}"is_group" : true,
            {% else %}
              "is_group" : false,
            {% endif %}
             "startHour" : "{{ lesson.startAt | date("H\\hi") }}",
           "finishHour" : "{{ lesson.startAt |date_modify("+" ~ lesson.registration.duration ~ "second") |date("H\\hi") }}",
           "teacher" :"{{ lesson.registration.teacher.firstname }} {{ lesson.registration.teacher.lastname }}",
             {% for student in lesson.registration.students %}
"students" : [
 "{{ student.firstname }} {{ student.lastname }}"
               
             {% if (loop.length == loop.index ) or (loop.last == true)  %} {% else %},{% endif %}
            {% endfor %}
            ]
            
        }

        {% if (loop.length == loop.index ) or (loop.last == true)  %} {% else %},{% endif %}
        {% endfor %}
    ]
}

	
